.container {
    width: 1600px;
    margin: 0 auto;
}

.page-header {
    background-color: rgba(241, 228, 230, 1);
}

.page-header-wrp {
    display: flex;
    background-color: #222222;
}

.page-header-logo {
    padding: 18px 41px 19px 231px;
}

.search-btn {
    margin: 28.21px 0 0 0;
}

#search-btn {
    display: none;
}

button {
    border: none;
    background: transparent;
}